{% extends "::base.html.twig" %}

{% block title %}ZezdaExchangeBundle:Parse:parse{% endblock %}

{% block body %}
<h1>Welcome to the parse page</h1>
<p>
    Content says: {{ content }}

    {% endblock %}
